@import "../modules/variables";

.sign-up-page {
  h1, h2 { text-align: center; }

  .sign-up-form {
    width: $sign-up-form-width;
    margin: auto;

    .sign-up-form-wrapper {
      * {
        margin: $sign-up-form-item-margin;
      }

      label {
        text-align: center;
      }
      input {
        width: $sign-up-input-box-width;
        padding: $input-box-padding;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: $sign-up-form-margin-top;
    }
  }
}
