@import "../modules/variables";

h1 {
  font-size: $h1-font-size;
  font-weight: $bold;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $bold;
}

a {
  cursor: pointer;
}

input {
  padding: $input-box-padding;
  border-radius: $input-box-border-radius;
}

@import "./buttons";
@import "./icons";
