// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;

// Headings
$header-font-weight: $bold;

@import "modules/all";
