html, body, h1, h2, h3, div, ul, li, a, figure, button, textarea, form, label {
  padding: 0;
  border: 0;
  margin: 0;

  font: inherit;
  vertical-align: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent
}

ul {
  list-style: none;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $body-bg;
}

input, textarea {
  outline: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a, button {
  cursor: pointer;
}

#content {
  height: 100%;

  div {
    height: 100%;
  }
}
