html, body, h1, h2, h3, div, footer, ul, li, a, figure, button, textarea, form, label {
  padding: 0;
  border: 0;
  margin: 0;

  font: inherit;
  vertical-align: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent
}

ul {
  list-style: none;
}

input, textarea {
  outline: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
