/* font weights */
$light: 100;
$regular: 400;
$bold: 700;

/* base background */
$body-bg: #eee;

/* base font */
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;

/* icons */
$icon-width: 32px;
$icon-height: 32px;
$icon-border-radius: 10px;

/* borders */
$standard-border: 1px solid #ccc;
$selected-border: 1px solid blue;
$base-border-radius: 10px;

/* buttons */
$button-padding: 3px;
$button-font-size: 16px;
$button-border: 1px solid darkgrey;
$button-border-radius: 10px;
$button-background: lightblue;

/* headers */
$h1-font-size: 36px;
$h2-font-size: 24px;

/* input boxes */
$input-box-padding: 5px 2.5px;
$input-box-border-radius: 10px;
$failed-validation-input-border: 2px solid red;
$failed-validation-box-shadow: 0 0 10px red;

/* flash messages */
$flash-top: 15vh;
$flash-left: 40vw;
$flash-font-size: 18px;
$flash-border: $standard-border;
$flash-border-radius: $base-border-radius;
$flash-background-color: yellow;
$flash-padding: 5px;
$flash-z-index: 1;

/* footer */
$footer-height: 72px;
$footer-font-size: 16px;
$footer-font-color: #fff;
$footer-width: 70vw;
$footer-margin: auto;
$footer-padding: 17px 0;
$footer-bg: #ffab62;
$about-me-opacity: .7;
$about-me-margin-top: 5px;
$icon-list-margin: 10px;

/* login page */
$login-form-item-margin: 5px 0;
$login-form-width: 200px;
$login-form-margins: 100px 0;
$login-input-box-width: 100%;

/* sign up page */
$sign-up-form-item-margin: 5px 0;
$sign-up-form-width: 200px;
$sign-up-form-margins: 50px 0;
$sign-up-input-box-width: 100%;
$avatar-preview-width: 200px;
$avatar-preview-height: 200px;

/* navigation bar */
$header-background: lightblue;
$header-bottom-border: $standard-border;
$nav-bar-width: 70vw;
$logo-dimension: 75px;

    /* user search bar */
    $user-search-input-margin: 0 1vw;
    $user-search-input-width: 20vw;

    /* user autocomplete list */
    $user-autocomplete-list-left: calc(61px + 1vw);
    $user-autocomplete-list-background: white;
    $user-autocomplete-list-width: $user-search-input-width;
    $user-autocomplete-list-border-radius: $base-border-radius;
    $user-autocomplete-list-border-left: $standard-border;
    $user-autocomplete-list-border-right: $standard-border;
    $user-autocomplete-list-border-bottom: $standard-border;
    $user-autocomplete-list-item-border-top: $standard-border;
    $user-autocomplete-list-item-padding: 5px;

/* side bar */

    /* users list */
    $users-list-background: black;
    $users-list-height: calc(100vh - 76px - 73px);
    $users-list-width: 15vw;
    $users-list-opacity: .6;
