/* colors */
$body-bg: #eee;
$footer-bg: #ffab62;
$border-color: #ccc;

/* icons */
$icon-width: 32px;
$icon-height: 32px;
$icon-border-radius: 10px;

/* header or footer */
$banner-border: 1px solid $border-color;

/* footer */
$footer-font-size: 16px;
$footer-font-color: #fff;
$footer-width: 1000px;
$footer-margin: auto;
$footer-padding: 10px 0;
$about-me-opacity: .7;
$about-me-margin-top: 20px;
$icon-list-margin: 10px;
