.header {
  background: $header-background;
  border-bottom: $header-bottom-border;

  .nav-bar {
    width: $nav-bar-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: $logo-dimension;
      height: $logo-dimension;
      cursor: pointer;
    }
  }
}

.header.not-visible {
  display: none;
}

@import "user_search";
@import "options";
