.user-search {
  position: relative;

  input {
    margin: $user-search-input-margin;
    width: $user-search-input-width;
  }

  .user-search-submit {
    border: 0;
    transition: all .2s ease-in-out;
  }

  .user-search-submit:hover {
    transform: scale(1.2);
  }

  .user-search-autocomplete-list {
    display: none;
    position: absolute;
    width: $user-autocomplete-list-width;
    left: $user-autocomplete-list-left;
    background: $user-autocomplete-list-background;
    border-radius: $user-autocomplete-list-border-radius;
    border-left: $user-autocomplete-list-border-left;
    border-right: $user-autocomplete-list-border-right;
    border-bottom: $user-autocomplete-list-border-bottom;

    .user-search-autocomplete-list-item {
      border-top: $user-autocomplete-list-item-border-top;
      padding: $user-autocomplete-list-item-padding;
      display: block;
    }

    .user-search-autocomplete-list-item.selected {
      border: $selected-border;
    }

    .user-search-autocomplete-list-item.selected:first-child {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    .user-search-autocomplete-list-item.selected:last-child {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }

  .user-search-autocomplete-list.show {
    display: block;
  }
}
