<html>
  <head>
    <title>Chatterbox</title>
    <script src="https://fb.me/react-0.14.5.js"></script>
    <script src="https://fb.me/react-dom-0.14.5.js"></script>
    <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="content"></div>

      <footer class="footer-wrapper">
        <div class="footer group">
          <label class="footer-about">Copyright © 2015 Ephraim Pei</label>

          <ul class="footer-links group">
            <a class="my-website-icon" href="http://www.ephraimpei.com">
              <img
                class="social-media-icon"
                src="static/images/icons/ephraim.png"/>
            </a>
            <a href="https://www.linkedin.com/in/ephraimpei">
              <img
                class="social-media-icon"
                src="static/images/icons/linkedin.png"/>
            </a>
            <a href="https://github.com/ephraimpei">
              <img
                class="social-media-icon"
                src="static/images/icons/github.png"/>
            </a>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
