<html>
  <head>
    <title>Chatterbox</title>
    <script type="text/javascript" src="/javascripts/build/main.js"></script>
    {% assets "scss_all" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>
    <div id="wrapper">
      <div id="content"></div>

      <footer class="footer-wrapper">
        <div class="footer group">
          <label class="about">Copyright © 2015 Ephraim Pei</label>

          <ul class="links group">
            <a class="my-website-icon" href="http://www.ephraimpei.com">
              <img
                class="social-media-icon"
                src="/images/icons/ephraim.png"/>
            </a>
            <a href="https://www.linkedin.com/in/ephraimpei">
              <img
                class="social-media-icon"
                src="/images/icons/linkedin.png"/>
            </a>
            <a href="https://github.com/ephraimpei">
              <img
                class="social-media-icon"
                src="/images/icons/github.png"/>
            </a>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
